[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
nltk = "*"
vadersentiment = "*"
requests = "*"
emoji = "*"
numpy = "*"
tensorflow = "<2.0.0"
wrapt = "*"
keras = "*"
matplotlib = "*"
pandas = "*"
pyenchant = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
